.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px; 
}

.team-container {
    display: flex;
    align-items: center;
}

.team-container img {
    margin-right: 10px;
}

@media (max-width: 48rem) { 
    .container {
        grid-template-columns: 1fr;
    }
}