.header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    padding: .7rem 0;
    justify-items: end;
    align-items: center;
}

.logo {
    justify-self: normal;
}

.menu button {
    color: var(--color-principal);
}