/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url(https://fonts.googleapis.com/icon?family=Roboto);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

* {
    margin: unset;
    padding: unset;
}

:root {
    --color-principal: #0E2050;
    --font-size-title: 2rem;
    --size-logo: 6.25rem;
    --size-final-team: 6.25rem;
}

@media (min-width: 0rem) { 
    :root {
        --font-size-title: 1.8rem;
        --size-logo: 5rem;
    }
}

body {
    font-family: Roboto;
}

.container {
    margin: auto;
}

.logo-img {
    width: var(--size-logo);
}

.title {
    background: url("./assets/img/background-1.jpg") center 70%;
    background-size: cover;
    color: #fff;
    font-size: var(--font-size-title);
    padding: 2rem 0;
    text-align: center;
    text-shadow: #000 0 2px;
    margin-bottom: 20px; 
}

.text-center {
    text-align: center;
}

@media (min-width: 0rem) { 
    .container {
        width: 90%;
        max-width: 36rem;
    }
}

@media (min-width: 48rem) { 
    .container {
        width: 90%;
        max-width: 48rem;
    }
}
