/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url(https://fonts.googleapis.com/icon?family=Roboto);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

* {
    margin: unset;
    padding: unset;
}

body {
    font-family: Roboto;
}

.container {
    margin: auto;
}

.text-center {
    text-align: center;
}

@media (min-width: 576px) { 
    .container {
        max-width: 550px;
    }
}

@media (min-width: 768px) { 
    .container {
        max-width: 740px;
    }
}
